{% extends 'base.html' %}
{% block body %}
      
       <h1> TOP TEN </h1>
        
       <form action="/logs">
       
        <p>
            <input type="submit" id="finsihed" value="GO TO LOGS">
        </p>
        <
    </form>

           
           
           
            <table>
           
            <tr>
                <td>
                    {{ data_base[0][0] }}
                </td>
                <td>
                    {{ data_base[0][1] }}
                </td>
                <td>
                    {{ data_base[0][2] }}
                </td>
                <td>
                    {{ data_base[0][3] }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ data_base[1][0] }}
                </td>
                <td>
                    {{ data_base[1][1] }}
                </td>
                <td>
                    {{ data_base[1][2] }}
                </td>
                <td>
                    {{ data_base[1][3] }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ data_base[2][0] }}
                </td>
                <td>
                    {{ data_base[2][1] }}
                </td>
                <td>
                    {{ data_base[2][2] }}
                </td>
                <td>
                    {{ data_base[2][3] }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ data_base[3][0] }}
                </td>
                <td>
                    {{ data_base[3][1] }}
                </td>
                <td>
                    {{ data_base[3][2] }}
                </td>
                <td>
                    {{ data_base[3][3] }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ data_base[4][0] }}
                </td>
                <td>
                    {{ data_base[4][1] }}
                </td>
                <td>
                    {{ data_base[4][2] }}
                </td>
                <td>
                    {{ data_base[4][3] }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ data_base[5][0] }}
                </td>
                <td>
                    {{ data_base[5][1] }}
                </td>
                <td>
                    {{ data_base[5][2] }}
                </td>
                <td>
                    {{ data_base[5][3] }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ data_base[6][0] }}
                </td>
                <td>
                    {{ data_base[6][1] }}
                </td>
                <td>
                    {{ data_base[6][2] }}
                </td>
                <td>
                    {{ data_base[6][3] }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ data_base[7][0] }}
                </td>
                <td>
                    {{ data_base[7][1] }}
                </td>
                <td>
                    {{ data_base[7][2] }}
                </td>
                <td>
                    {{ data_base[7][3] }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ data_base[8][0] }}
                </td>
                <td>
                    {{ data_base[8][1] }}
                </td>
                <td>
                    {{ data_base[8][2] }}
                </td>
                <td>
                    {{ data_base[8][3] }}
                </td>
                
            </tr>
            <tr>
                <td>
                    {{ data_base[9][0] }}
                </td>
                <td>
                    {{ data_base[9][1] }}
                </td>
                <td>
                    {{ data_base[9][2] }}
                </td>
                <td>
                    {{ data_base[9][3] }}
                </td>
                
            </tr>
        </table>
        
    
        

{% endblock %}