{%extends "base.html"%}
<title>Destiny </title>
{% block body%}
<a href="/home">Home</a>
<h2>What is Destiny the game</h2>
<p>Destiny is an online-only multiplayer first-person shooter video game developed by Bungie<br>
and previously published by Activision<br>
 ... Set in a "mythic science fiction" world, the game features a multiplayer<br>
  "shared-world" environment with elements of role-playing games.
</p>
<br>
<br>
<h2>Why is Destiny one of my favourite games</h2>
<br>
<p>destiny one is in my top three favourite games of al time simply because of the sheer<br>
amount of time that i put into the game i have around 1800+ hours on the game<br>
and i dont regret any of them yet simply because of the amount of fun i had throughout those<br>
four years consistantly playing that game. it is in the top three because of the memories and <br>
friendships that i made throughout that time rather than the game itself i can recognise that <br>
Destiny had many problems throughout its life cycle however its the experience of playing with<br >
with my friends is what made it so memorable and impactful on my life
</p>
{%endblock%}