{% extends "base.html"%}
<title>God Of War </title>
{% block body%}
<a href="/home">Home</a>
<h2>What is God Of War(2018) the game</h2>
<p>
God of War is the eighth installment in the franchise overall.<br>
 Unlike previous installments, this game focuses on Norse mythology <br>
 and follows an older and more seasoned Kratos and his new son Atreus in the years since God of War III.<br>
 The game released on April 20, 2018, and is exclusive to the PlayStation 4.
</p>
<br>
<br>
<h2>Why is God of War(2018) my favourite games</h2>
<br>
<p>
 God of War is by far my favourite ever game and its quite hard to explain<br>
 you simply have to play the game for yourself to figure out how good this <br>
 game is for instance this game was voted the greatest game of all time in <br>
 many pols and competitions and granted i understand that that is completely<br>
 opinions based like the game has an amazing story mechanics soundtrack and is<br>
 visually stunning
</p>
{%endblock%}