{%extends "base.html"%}
<title>Destiny </title>
{% block body%}
<a href="/home">Home</a>
<h1>My Interests</h1>
<h2>Rugby</h2>
<p>i really enjoy playing rugby and currently play for the college rugby team</p>
<h2>The Gym</h2>
<p>ever since may 2018 when i started going to the gym i have loved the gym and have been hooked ever since <br>
whether that be trying to hit a new pb on a certain excercise or simply improve in my endurance on a run etc  i love the <br>
gym and thats also alot to do with my brothers as well as it became a a brotherly activity for us to do together and we kept eachother<br>
driven and motivated</p>
<h2>Travel</h2>
<p>although my experience in regards to travel is relatively limited i cannot wait to get out and experience the world and what it has <br>
to offer its always been a dream of mine to vist the floating mountains is china or go see niagra falls or the the mountains in jordan</p>
<h2>Football</h2>
<p>i have always loved football i grew up playing the sport and my family in general is very much a fottbal family however we all support different teams <br>
i personally support liverpool. i also have loved to play the sport i currently play for a team called moone celtic in kildare i dont know what else to say about <br>
this interest except its called the beautiful game for a reason</p>



{%endblock%}