{% extends "base.html"%}
<title>The Last Of US </title>
  
{% block body%}
<a href="/home">Home</a>
<h2>What is The Last Of Us the game</h2>
<p>
The Last of Us is an action-adventure survival horror game played from a third-person perspective.<br>
 The player traverses post-apocalyptic environments such as towns, buildings, forests, and sewers to advance the story.<br>
</p>
<br>
<br>
<h2>Why is The Last Of Us one of my favourite games</h2>
<br>
<p>
    The last of us was my favourite game for a very ling time up until the release of god of war 2018<br>
    however this is about the last of us and why that game was simply great. the story is very good it follows<br>
    ellie and joel as they try to go get the cure that will cure the clickers(zombies) but theres a twist at the end<br>
    the game was released on the ps3 granted at the end of that consoles life cycle but the game for its time is stunning<br>
    but what carries the game is the relationships between joel and ellie alongside the other characters in the game and how <br>
    they interact with them in this preoulous world.The last of us is one of my favourite games for this reason

</p>
{%endblock%}