{%extends "base.html"%}
<title>personal Details </title>
{% block body%}
<a href="/home">Home</a>
<h1>About Me</h1>
<p>Hi my name is Donal Peter Patrick Howe. I am a third year computer games Development Student @ it carlow<br>
 I am from Kildare Ireland, i currently work in the Puma outlet store in kildare village. I live down in carlow for <br>
 college. I have four siblings two brothers two sisters. i have two dogs and a cat. i am 21 years old and i am the second <br>
 youngest in the family
</p>



{%endblock%}